button{
    background-color: #1dc071;
}
body{
    background-color:#10151f;
    margin: 0;
    padding: 0;
}
.AppoButton{
    background-color: #1dc071;
}
.RegButton{
    background-color: #1dc071;
}

.DocButton{
    background-color: #1dc071;
}
